@model List<Flowers>

@foreach (var flower in Model)
{
    <div>
        @flower.FlowerName
        @if (flower.Children != null && flower.Children.Any())
        {
            <div style="margin-left: 20px;">
                @Html.Partial("_Tree", flower.Children)
            </div>
        }
    </div>
}
