@model List<Flowers>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>Flowers Tree View</h2>

<ul>
    @foreach (var flower in Model)
    {
        <li>
            @flower.FlowerName
            <ul>
                @foreach (var childFlower in flower.Children)
                {
                    <li>@childFlower.FlowerName</li>
                }
            </ul>
        </li>
    }
</ul>